<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Page Not Found</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body
    class="bg-veryDarkBlue from-indigo-500 via-purple-600 to-pink-600 text-white h-screen flex flex-col justify-center items-center">
    <div class="text-center">
        <h1 class="text-6xl font-bold mb-4">404</h1>
        <h2 class="text-2xl md:text-3xl mb-6">Oops! The page you're looking for doesn't exist.</h2>
        <p class="text-lg mb-8">But don't worry, there's always a way back!</p>

        <a href="/"
            class="px-6 py-3 bg-darkBlue text-indigo-500 font-semibold rounded-lg shadow-lg hover:bg-indigo-100 transition-all duration-300">
            Go Back Home
        </a>
    </div>

    <footer class="absolute bottom-0 w-full text-center py-4 text-sm">
        <p>&copy; 2025 Your Company. All rights reserved.</p>
    </footer>
</body>

</html>